{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="history-container">
        <table class="history-table">
            <tr class="history-table-header-row">
                <th class="history-table-row-header">Symbol</th>
                <th class="history-table-row-header">Shares</th>
                <th class="history-table-row-header">Price</th>
                <th class="history-table-row-header">Transacted</th>
            </tr>
    	    {% for row in rows %}
                <tr class="history-table-row">
                    <td class="history-table-row-cell">{{row.symbol}}</td>
                    <td class="history-table-row-cell">{{row.shares}}</td>
                    <td class="history-table-row-cell">${{row.price}}</td>
                    <td class="history-table-row-cell">{{row.transacted}}</td>
                </tr>
		     {% endfor %}
        </table>
    </div>
{% endblock %}